.favorite-light-second-section {
  color: #ffffff;
  max-width: 100% !important;
  padding: 0 60px !important;
}

.favorite-light-second-section-div-8 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.favorite-light-second-section-div-2 {
  padding: 0 15px 25px !important  ;
}

.favorite-light-second-section-div-3 {
  flex-shrink: 0;
  width: 100%;
  padding: 0 0 30px;
  background-color: #ffffff;
  border-radius: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favorite-light-second-section-div-4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 20px 0;
}

.favorite-light-second-section-div-5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px 0 42px;
}

.favorite-light-second-section-div-6 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
  margin-top: 4px;
  column-gap: 80px;
}

.favorite-light-second-section-span-1 {
  color: #8ed457;
}

.favorite-light-second-section-span-2 {
  border: 1px solid #2a2a2a;
  padding: 8px 6px 6px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.favorite-light-second-section-span-2 img {
  width: 100%;
  height: 100%;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(241deg)
    brightness(113%) contrast(101%);
}

.favorite-light-second-section-span-3 {
  font-weight: 800;
  font-size: 15px;
  color: #808080;
  font-family: Roboto, serif;
}

.favorite-light-second-section-span-4 {
  font-size: 14px;
  font-weight: 600;
  color: #2a2a2a;
}

.favorite-light-second-section-span-5 {
  font-size: 16px;
  font-weight: 600;
  color: #2a2a2a;
}

.favorite-light-second-section-button-1 {
  width: 75px;
  height: 30px;
  background-color: #00adb5;
  color: white;
  font-size: 12px;
  border-radius: 5px;
  border: none;
  outline: none;
  text-align: center;
}

.favorite-light-second-section-img-1 {
  height: fit-content;
  width: 80%;
}

.favorite-light-second-section-img-2 {
  position: absolute;
  bottom: -2px;
  width: 90px;
}

.favorite-light-second-section-img-4 {
  position: absolute;
  width: 24px;
  left: calc(50% - 12px);
  bottom: 8px;
}

.favorite-light-second-section-div-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
  padding-top: 40px;
}

.favorite-light-second-section-div-7 {
  width: 55px;
  height: 55px;
  background: #ffffff;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #374957;
  font-weight: 600;
  font-size: 18px;
}

.favorite-light-second-section-div-7 + .active {
  background-color: #00adb5;
  color: #ffffff;
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 480px) {
  .favorite-light-second-section {
    padding: 0 20px !important;
  }
}
