body {
  background-color: #2a2a2a !important;
  font-family: YekanBakh, serif !important;
  direction: rtl;
}

main {
  padding: 50px 0;
}

::-webkit-scrollbar {
  display: none;
}

.contact-dark-img-1 {
  position: absolute;
  left: 0;
  top: 100px;
}
.contact-dark-img-2 {
  position: absolute;
  right: -60px;
  transform: rotate(180deg);
  top: 60px;
  height: 400px;
}

.contact-dark-first-sectoin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  row-gap: 24px;
  margin-bottom: 50px;
}

.contact-dark-first-section-span-1 {
  font-size: 40px;
  font-weight: 950;
}
.contact-dark-first-section-span-2 {
  font-weight: 400;
  font-size: 22px;
}

.contact-dark-second-section {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  position: relative;
  margin: 0 65px 0;
  padding: 35px 60px 0;
  background-color: #686868;
  box-shadow: 0 13px 72px rgba(0, 0, 0, 0.07);
  border-radius: 23px;
}

.contact-dark-second-section-div-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-dark-second-section-div-2 {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding-bottom: 60px;
  flex-grow: 1;
  min-width: 400px;
}

.contact-dark-second-section-div-2 .contact-dark-label {
  margin: 20px 15px 0 0;
  font-weight: 600;
  font-size: 20px;
  text-align: right;
  color: #ffffff;
}

.contact-dark-second-section-span-2 {
  font-weight: 600;
  font-size: 25px;
  color: #ffffff;
  margin-right: 30px;
}

.contact-dark-second-section-span-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: VazirFd, serif;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  color: #ffffff;
}

.contact-dark-second-section-image-1 {
  position: absolute;
  z-index: -100;
  bottom: -80px;
  width: 90%;
  right: 30px;
  max-height: 100%;
}

.contact-dark-second-section-button {
  padding: 14px 55px;
  font-family: VazirFd, serif;
  font-weight: 700;
  font-size: 14px;
  border: none;
  color: #ffffff;
  background: #7bc74d;
  border-radius: 12px;
}

.contact-dark-second-section-button-2 {
  height: 50px;
  background: #00adb5;
  color: #ffffff;
  font-weight: 600;
  font-family: VazirFd, serif;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-top: 20px;
}

.contact-dark-second-section-div-3 {
  display: flex;
  justify-content: space-between;
  column-gap: 80px;
}

.contact-dark-second-section-div-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
}

.contact-dark-second-section-div-5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 60px;
}

.contact-dark-second-section-div-5 div {
  display: flex;
  flex-direction: column;
  width: 370px;
}

.contact-dark-second-section-div-5 .contact-dark-title {
  font-weight: 700;
  font-size: 18px;
  color: #374957;
  margin-bottom: 10px;
}

.contact-dark-second-section-div-5 .contact-dark-caption {
  font-weight: 500;
  font-size: 16px;
  color: #bebebe;
  white-space: nowrap;
}

.contact-dark-second-section-div-5 .contact-dark-number {
  font-family: VazirFd, serif;
  text-align: end;
  font-weight: 700;
  font-size: 14px;
  color: #292d32;
}

.contact-dark-second-section-div-5 .contact-dark-number span {
  color: #7bc74d;
}

.contact-dark-second-section-div-5 img {
  width: 28px;
  height: 37px;
}

.contact-dark-second-section-div-6 {
  flex-grow: 1;
  width: 100%;
  text-align: end;
}

.contact-dark-second-section-div-6 img {
  height: 100%;
  width: 100%;

  object-fit: contain;
}

.contact-dark-second-section-div-7 {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  column-gap: 160px;
  flex-wrap: wrap;
}

.contact-dark-second-section-div-8 {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
}

.contact-dark-second-section-div-8 .contact-dark-label {
  margin: 20px 0 0;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
}

.contact-dark-second-section-div-9 {
  padding: 14px 16px;
  background: #515151;
  border-radius: 15px;
  display: flex;
  column-gap: 10px;
}

.contact-dark-second-section-div-9 input,
.contact-dark-second-section-div-9 textarea {
  flex-grow: 1;
  border: none;
  outline: none;
  background: #515151;
  color: #ffffff;
}

.contact-dark-second-section-div-10 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-dark-second-section-div-10 span {
  font-weight: 500;
  font-size: 15px;
  line-height: 23px;

  color: #aaaaaa;
}

.contact-dark-second-section-div-10 .contact-dark-number-container,
.contact-dark-second-section-div-10 .contact-dark-number-container * {
  font-weight: 900;
  font-size: 18px;
  color: #ffffff;
  font-family: vazir, serif;
}

.contact-dark-second-section-div-10 .contact-dark-number span {
  color: #00adb5;
}

.contact-dark-second-section-div-10 img {
  width: 28px;
}

.contact-dark-second-section-img-1 {
  filter: invert(51%) sepia(94%) saturate(1863%) hue-rotate(145deg)
    brightness(90%) contrast(101%);
}

.contact-dark-second-section-div-11 {
  flex-grow: 1;
  display: flex;
  justify-content: end;
  padding-top: 80px;
}

.contact-dark-second-section-img-2 {
  width: 100%;
}

.contact-dark-third-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  margin: 0 65px 0;
}

.contact-dark-third-section-div-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  row-gap: 30px;
}

.contact-dark-third-section-span-1 {
  font-weight: 900;
  font-size: 28px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
}

.contact-dark-third-section-span-1 span {
  width: 55px;
  height: 4px;
  background-color: #00adb5;
  display: block;
}

.contact-dark-third-section-span-2 {
  font-weight: 500;
  font-size: 18px;
  color: #c4c4c4;
}

.contact-dark-third-section-div-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.contact-dark-third-section-div-3 {
  background: #515151;
  box-shadow: 0px 11px 24px rgba(0, 0, 0, 0.04);
  border-radius: 15px;
  height: 80px;
  display: flex;
  padding: 0 50px;

  align-items: center;
  justify-content: space-between;
}

.contact-dark-third-section-span-3 {
  font-weight: 700;
  font-size: 22px;
}

@media screen and (max-width: 768px) {
  .contact-dark-second-section-div-2 {
    min-width: 0;
  }
}

@media screen and (max-width: 480px) {
  main {
    padding: 20px 0;
  }

  .contact-dark-second-section-div-7 {
    flex-direction: column-reverse;
  }

  .contact-dark-second-section {
    row-gap: 30px;
    margin: 0 20px 0;
    padding: 35px 20px 0;
  }

  .contact-dark-second-section-span-2 {
    border-bottom: 2px dashed #ebebeb;
    padding: 0 0 25px;
    width: 100%;
    text-align: center;
    margin: 0;
  }

  .contact-dark-first-section-span-1 {
    font-size: 30px;
  }

  .contact-dark-first-section-span-2 {
    font-size: 20px;
  }

  .contact-dark-second-section-div-8 {
    padding-bottom: 20px;
  }

  .contact-dark-third-section {
    margin: 0 20px 0;
  }

  .contact-dark-third-section-span-1 {
    font-size: 20px;
  }

  .contact-dark-third-section-span-2 {
    display: none;
  }

  .contact-dark-third-section-span-3 {
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
  }

  .contact-dark-third-section-div-3 {
    padding: 16px 20px;
    height: fit-content;
  }
}
