body {
  background-color: #2a2a2a !important;
  font-family: YekanBakh, Poppins, serif !important;
  direction: rtl;
}

main {
  padding: 90px 65px 120px 65px;
}

::-webkit-scrollbar {
  display: none;
}

.first-section {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  column-gap: 60px;

  padding: 30px 50px 30px 30px;

  background: #121212;
  color: #ffffff;
  box-shadow: 0px 11px 24px rgba(0, 0, 0, 0.04);
  border-radius: 18px;
}

.first-section-div-1 {
  width: 30%;
  background: #e8e8e8;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 22px 40px 30px;
}

.first-section-div-2 {
  display: flex;
  width: 100%;
  column-gap: 15px;
}

.first-section-img-2 {
  width: 30%;
  flex-grow: 1;
}

.first-section-div-3 {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.first-section-div-4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px dashed #9c9c9c;
  padding-bottom: 18px;
}

.first-section-span-1 {
  font-weight: 600;
  font-size: 22px;
  display: flex;
  column-gap: 16px;
}

.active {
  color: #00adb5;
}

.first-section-div-6 {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.first-section-div-5 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 10px;
}

.first-section-div-7 {
  display: flex;
  justify-content: space-between;
}

.first-section-div-8 {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.first-section-div-10 {
}

.first-section-div-10 .title {
  font-weight: 700;
  font-size: 14px;
  margin-left: 20px;
}

.first-section-div-10 .title img {
  width: 16px;
  height: 16px;
  margin-left: 10px;
}

.first-section-div-10 .item {
  font-weight: 500;
  font-size: 14px;
  color: #bfbfbf;
}

.first-section-div-10 .seperator {
  margin: 0 10px;
}

.first-section-div-11 {
  background: #ffffff;
  border-radius: 16px;
  padding: 16px;
}

.first-section-div-11 img {
  width: 22px;
  height: 22px;
}

.first-section-div-9 {
  display: flex;
  align-items: center;
  column-gap: 45px;
  background: #2a2a2a;
  border-radius: 17px;
  padding: 12px 12px 12px 20px;
}

.first-section-div-12 {
  display: flex;
  flex-direction: column;
}

.first-section-span-2 {
  font-weight: 400;
  font-size: 10px;
}

.first-section-div-13 {
  display: flex;
  flex-direction: column;
}

.first-section-span-3 {
  font-weight: 900;
  font-size: 18px;
}

.first-section-p-1 {
  font-weight: 500;
  font-size: 14px;
  line-height: 35px;
}

.first-section-div-14 {
  width: 30%;

  background: #2a2a2a;
  border-radius: 12px;
  padding: 22px 22px 28px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.first-section-div-15 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
  border-bottom: 2px dashed #414141;
}

.first-section-span-4 {
  font-weight: 700;
  font-size: 16px;
}

.first-section-button-1 {
  border: none;
  outline: none;
  padding: 6px 26px 3px;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  background: #00adb5;
  border-radius: 8px;
}

.first-section-div-16 {
  display: flex;
  flex-direction: column;
  padding-bottom: 56px;
  border-bottom: 2px dashed #414141;
}

.first-section-span-5 {
  font-weight: 900;
  font-size: 16px;
}

.first-section-span-6 {
  font-weight: 400;
  font-size: 14px;
  color: #a8a8a8;
  margin-top: 4px;
}

.first-section-div-17 {
  background: #464646;
  border-radius: 29px;
  width: 100%;
  height: 12px;
  display: flex;
  justify-content: end;
  margin-top: 45px;
}

.first-section-div-18 {
  background: #8ed457;
  border-radius: 29px;
  width: 40%;
  height: 11px;
}

.first-section-div-19 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 18px;
  padding: 0 15px;
}

.first-section-span-7 {
  font-weight: 500;
  font-size: 12px;
}

.first-section-div-20 {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.first-section-div-21 {
  display: flex;
  column-gap: 10px;
}

.first-section-span-8 {
  font-weight: 900;
  font-size: 16px;
}

.first-section-button-2 {
  border: none;
  outline: none;
  background: #00adb5;
  border-radius: 6px;
  padding: 10px 0 2px;
  color: #ffffff;
  flex-grow: 1;
  font-weight: 500;
  font-size: 18px;
  position: relative;
}

.first-section-button-2 img {
  position: absolute;
  left: 15px;
  height: 20px;
  top: calc(50% - 10px);
}

.first-section-button-3 {
  border: none;
  outline: none;
  background: #24cc63;
  border-radius: 6px;
  padding: 10px;
}
